ansible==8.5.0
ansible-compat==4.1.10
ansible-core==2.15.5
ansible-lint==6.21.1
attrs==23.1.0
black==23.10.0
bracex==2.4
bump2version==1.0.1
bumpversion==0.6.0
certifi==2023.7.22
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.0
click==8.1.7
click-help-colors==0.9.2
cryptography==41.0.4
distlib==0.3.7
distro==1.8.0
docker==6.1.3
enrich==1.2.7
filelock==3.12.4
identify==2.5.30
idna==3.4
Jinja2==3.1.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
maison==1.4.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
molecule==6.0.2
molecule-plugins==23.5.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pluggy==1.3.0
pre-commit==3.5.0
pycparser==2.21
pydantic==1.10.13
Pygments==2.16.1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
resolvelib==1.0.1
rich==13.6.0
rpds-py==0.10.6
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
ruyaml==0.91.0
subprocess-tee==0.4.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.8.0
urllib3==2.0.7
virtualenv==20.24.5
wcmatch==8.5
websocket-client==1.6.4
yamlfix==1.15.0
yamllint==1.32.0
